
body {
  margin: 0;
}
/* header {
  float: left;
} */
.ivy {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url(cropped_ivy.png);
  height: 500px;
  width: 100vw;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ivy-text {
  margin-top: 10px;
  height: 90%;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* border: 2px solid red; */
}
.ivy h1{
  font-size: 40px;
  font-family: 'Gravitas One', cursive;
  /* border: 2px solid red; */
}
.name{
  font-size: 2em;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
.skills {
  margin-top: 10%;
  /*text-align: center;*/
  font-family: 'Montserrat', sans-serif;
  /* border: 2px solid red; */
}

.gone{
  display: none;
}

li {
  list-style: none;
  text-align: center;
  /* float: left; */
  padding: 10px;
  /* width: 25%; */
}
.lilskills {
  /* border: 2px solid red; */
  box-sizing: border-box;
  text-align: center;
  float: left;
  font-size: 1.25em;
  /* padding: 10px; */
  width: 25%;
}
.buttons {
  text-align: center;
  padding: 50px;
}
/*dropdown button*/
.dropbtn {
  background-color: #3e0a72;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/*dropdown content div*/
.dropdown {
  position: relative;
  display: inline-block;
  /*list-style: none;*/
}
/*dripdown content hidden by default*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
/*links inside dropdown*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*change the color of dropdown links on hover*/
.dropdown-content a:hover {background-color: #ddd;}

/*show the dropdown menu on hover*/
.dropdown:hover .dropdown-content{display: block;}

/*change the background color of the dropdown button when content shown */
.dropdown:hover .dropbtn {background-color: #360863;}

footer {
    background-color: rgba(229, 229, 229, 1.0);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}
footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    /* border: 2px solid red; */
}
.inline i{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}

li a {
    text-decoration: none;
    /* border: 2px solid red; */
  }

  .column {
    text-align: center;
    /* border: 2px solid red; */
  }

/* footer {
  max-width: 50%;
  display: block;
  margin: auto;
  padding: 50px;
} */
 /* .column {
    text-align: center;
} */
@media (max-width: 1024px){
  h1 {
    display: none;
  }
  .move{
    display: block;
  }
  .move2{
    display: none;
  }
  .gone{
    display: none;
  }
  .lilskills{
    width: 50%;
    padding: 0px;
    box-sizing: border-box;
  }
  .ivy {
    height: 460px;
  }
}

@media (max-width: 670px){
  .name {
    font-size: 1.5em;
  }
  .ivy{
    height: 650px;
  }
  .lilskills{
    width: 100%;
    padding: 0px;
    /*border: 2px solid red;*/
  }
}

@media screen and (max-width: 600px) {
  .skills{
    margin-top:0%;
  }
  .column {
    width: 100%;
    text-align: center;
  }
  .move{
    display: none;
  }
  .gone{
    display: block;
  }

  }